/* app css stylesheet */

.timer { 
	font-family: "Digital7Mono", Monospace;
	/* font-family: "Digital7", Monospace; */
	/* font-family: "DigitalDream", Monospace; */
	font-size: 8em;
	font-size: 20vw;
}

